@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  background-color: rgb(31, 199, 199);
  display: flex;
  height: 68px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1149px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 69px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  .image{
    align-items: center;
    padding-top: 16px;
    padding-left: 235px;
    margin-top: 157px;
}
}

.he{
  background-size: cover;
  background-image: url(background.jpg);
  color: black;
  padding-top: 114px;
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  z-index: -1;
  padding-bottom: 40px;

}
.python{
  background-color: rgb(49, 75, 85);
  background-size: cover;


}
.py{

  padding-top: 50px;
  color: rgb(0, 162, 255);
  text-align: center;
  font-size: 34px;
  padding-left: 55px;
}
.pydefine{
  color: rgb(218, 209, 209);
  text-align: center;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 55px;
}
.pydefine{
  padding-left: 68px;
  font-size: 21px;
  padding-top: 4px;
  padding-right: 33px;
}
.javal{
  background-color: rgb(49, 75, 85);
  background-size: cover;


}
.java{

  padding-top: 50px;
  color: rgb(255, 81, 0);
  text-align: center;
  font-size: 34px;
  padding-left: 55px;
}
.javadefine{
  color: rgb(218, 209, 209);
  text-align: center;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 55px;
}
.cppp{
  background-color: rgb(49, 75, 85);
  background-size: cover;
}
.Cpp{

  padding-top: 50px;
  color: rgb(61, 147, 197);
  text-align: center;
  font-size: 34px;
  padding-left: 55px;
}
.cppdefine{
  color: rgb(218, 209, 209);
  text-align: center;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 55px;
}

.csharp{
  background-color: rgb(49, 75, 85);
  background-size: cover;


}
.Cshr{

  padding-top: 50px;
  color: blueviolet;
  text-align: center;
  font-size: 34px;
  padding-left: 55px;
}
.Cshrdefine{
  color: rgb(218, 209, 209);
  text-align: center;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 55px;
}
.javascript{
  background-color: rgb(49, 75, 85);
  background-size: cover;


}
.javas{

  padding-top: 50px;
  color: rgb(202, 185, 28);
  text-align: center;
  font-size: 34px;
  padding-left: 55px;
}
.javasdefine{
  color: rgb(218, 209, 209);
  text-align: center;
  font-size: 24px;
  padding-left: 10px;
  padding-bottom: 55px;
}
